<div class="row">
  <div class="medium-12 large-12 columns">
    <p>
      <h3>About
      &nbsp; <%= link_to 'LINKNHANH.INFO', root_path %>
      </h3>
      This website helps you generate direct download links of <a href="<%= website_path %>">website</a> videos without using any 3rd party software or plugins like JAVA. It enables many features like Fast Direct Download, Easy Interface for Navigation and Download, Powerful Video Fetching Processor... This website also works on all mobile phones and smartphones like iPhone, Android, Windows Phone since its template is responsive.
      FBDOWN.net is a facebook video downloader online, this tool grabs direct links to download and save facebook videos online for free.<br />

      1. Put the URL of the Video you want to Download.<br />

      2. Click Download button to grab the video.<br />

      3. Right Click then Save as to download the video (HD or SD Quality).<br />

      This Video Downloading Website is developed and designed by <b>LINKNHANH</b> Team.<br />
    </p>
  </div>
 </div>
 <div class="row column">
  <hr>
</div>
<div class="row column">
  <p class="lead"><i class="fa fa-cloud-download" aria-hidden="true"></i> Get Link Here !</p>
</div>
<div class="row small-up-1 medium-up-2 large-up-3">
  <%= form_for @link, method: :post, url: getlink_path do |f| %>
    <div style="padding:20px" class="row">
      <div class="small-6 columns">
        <label>
          <%= f.url_field :url, class: "form-control", placeholder: "Just insert a link ...", required: true %>
        </label>
      </div>
      <div class="small-6 columns">
        <label>
          <%= select :server, :action, @servers.map{|c| [c.name, c.id]}, {class: 'form-control', required: true } %>
        </label>
      </div>
      <div class="small-6 columns">
        <label><button type="submit" class="button">GO!</button></label>
      </div>
    </div>
  <% end %>
</div>
