<br>
<div class="row">
  <%= render "commons/ouo" %>
</div>
<div class="row">
  <div class="medium-12 large-12 columns">
    <p>
      <h3>
      <%= link_to 'LINKNHANH.INFO', root_path %>
      &nbsp;- How To Download Facebook Video ?
      </h3>
    </p>
    <h3>Facebook Video</h3>
    <p>
      <h4>Step 1</h4>
      <p>Play the video, then Right Click -> Show video URL. See screenshot below.</p>
      <%= image_tag "download-facebook-video-step-1", class: 'img-step' %>
      <h4>Step 2</h4>
      <p>Go to LINKNHANH.INFO. Then paste the URL and Click 'Search Now!', like the screenshot below</p>
      <%= image_tag "download-facebook-video-step-2", class: 'img-step' %>
      <h4>Step 3</h4>
      <p>Click on "Download normal quality video" or "Download HD video" (if available) to start downloading the video.</p>
      <%= image_tag "download-facebook-video-step-3", class: 'img-step' %>
    </p>
  </div>
 </div>
