<div class="top-bar" id="realEstateMenu">
  <div class="top-bar-left">
    <ul class="menu" data-responsive-menu="accordion">
      <li class="menu-text">
        <a href="<%= root_path%>">
          <i class="fa fa-rocket fa-3x" aria-hidden="true"></i> LINKNHANH.INFO
        </a>
      </li>
      <li><a href="<%= use_path %>">How to use</a></li>
      <li><a href="<%= blogs_path %>">Blog</a></li>
      <li><a href="<%= contact_path %>">Contact</a></li>
      <li><a href="<%= about_path %>">About</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <% if current_user %>
        <% if current_user.admin? %>
          <li><a class="button" href="<%= admin_root_path %>">My Account</a></li>
        <% else %>
        <li><a class="button" href="<%= user_root_path %>">My Account</a></li>
        <% end %>
      <% else %>
        <li><a href="<%= new_user_registration_path %>" class="button">Sign up</a></li>
        <li><a href="<%= new_user_session_path %>" class="button">Log in</a></li>
      <% end %>
    </ul>
  </div>
</div>
